@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-soft-beige: #fcf5e1;
  --color-softest-beige: #fefcf6;
  --color-strong-beige: #c7ac0f;
  --color-soft-purple: #d7ddfe;
  --color-dark-purple: #a6b3fd;
  --color-dark: #232323;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
